In [1]:
import pandas as pd
import numpy as np

In [2]:
%load_ext autoreload
%autoreload 2
from openproblems.tasks.chromatin_potential import datasets
adata = datasets.snare_p0_braincortex(test=True)

In [3]:
adata.uns['mode2_var_chr'].shape

(1500,)

In [4]:
adata.uns['mode2_var']

array([['chr13', '54987864', '54988140'],
       ['chr18', '55343903', '55344578'],
       ['chr13', '95849459', '95850381'],
       ...,
       ['chr3', '19157541', '19158337'],
       ['chr4', '94806992', '94807184'],
       ['chr12', '7521359', '7521804']], dtype='<U9')

In [5]:
adata.uns.keys()

dict_keys(['mode2_obs', 'mode2_var', 'mode2_var_chr', 'mode2_var_start', 'mode2_var_end', 'species', 'version', 'release'])

In [6]:
adata.var.head()

       gene_short_name  n_counts
genes
Usp24            Usp24      35.0
Cltb              Cltb      17.0
Puf60            Puf60      24.0
Pfkfb4          Pfkfb4      11.0
Gm3252          Gm3252       4.0

In [7]:
adata.shape, adata.obsm['mode2'].shape

((600, 1500), (600, 1500))

In [8]:
%load_ext autoreload
%autoreload 2
from openproblems.tasks.chromatin_potential import methods
# adata = methods.beta(adata, n_top_genes=500)

# adata = methods.archr_model21(adata)

adata = methods.marge(adata, n_top_genes=2000)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1190002N15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-8I8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A930024N18Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ddx26b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc176']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC017643']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h3e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2610305D13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3110002H16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP24-479J14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['CAAA01093177']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Prkcdbp']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam73a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm28869']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccbl1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-325D10']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['H1foo']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc23']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Kdelc2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ctage5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['9330132A10Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem194b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['H2afx']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP24-490A22']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['0610037L13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26836']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam175a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm38399']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Prmt10']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C030039L03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h1d']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['6330408A02Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm608']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cyr61']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gareml']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700020I14Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ftsj2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm37699']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam96b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam132a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16702']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ppapdc2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bj']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2210013O21Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Micalcl']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam19a4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AI314180']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D17Wsu92e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Inadl']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1810026J23Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Murc']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26899']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13050']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mfsd7c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16432']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Oraov1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AI854517']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP24-470M22']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Myeov2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930598A11Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3110057O12Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wbscr22']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Lppos']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wbscr16']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26721']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Diexf']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mfsd7b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['H2afy2']

... storing 'chr' as categorical
... storing 'strand' as categorical
/Users/qq06/anaconda3/envs/openproblem/lib/python3.8/subprocess.py:849: RuntimeWarning: line buffering (buffering=1) isn't supported in binary mode, the default buffer size will be used
  self.stderr = io.open(errread, 'rb', bufsize)

In [9]:
adata.uns["mode2_var_chr"].shape

(1500,)

In [10]:
np.isin(adata.uns["mode2_var_chr"], adata.var.loc[:, "chr"].unique()).sum(), np.isin(adata.uns["mode2_var_chr"], adata.var.loc[:, "chr"].unique()).shape

(1500, (1500,))

In [11]:
adata.uns["mode2_var"].shape, adata.uns["mode2_var_chr"].shape, adata.uns["mode2_var_start"].shape

((1500, 3), (1500,), (1500,))

In [12]:
adata.shape

(600, 1429)

In [13]:
%autoreload 2

import seaborn as sns
from openproblems.tasks.chromatin_potential import metrics
cors = metrics.spearman_correlation(adata)
print(cors)

/Users/qq06/anaconda3/envs/openproblem/lib/python3.8/site-packages/scipy/stats/stats.py:4196: SpearmanRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(SpearmanRConstantInputWarning())

-0.011765679291548148

In [14]:
%autoreload 2

from openproblems.tasks.chromatin_potential import metrics
import seaborn as sns
cors = metrics.pearson_correlation(adata)

print(cors)

-0.006072724409380843

/Users/qq06/anaconda3/envs/openproblem/lib/python3.8/site-packages/scipy/stats/stats.py:3845: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())